        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('../image/bgblur.png'); /* Replace 'bgblur.png' with the name of your saved image file */
            background-size: cover;
            background-position: center;
        }

        .bookform {
            padding: 20px; /* Add padding to make the form content visible */
            max-width: 600px; /* Set a maximum width for the form */
            width: 100%; /* Ensure the form takes full width within its container */
        }
/* Adjust the width of the input fields for first name, middle name, and last name */
#name {
    width: calc(100% - 3px); /* Set width for each input field with a little spacing between */
}
